header {
  padding: 20px 0px;
}
.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header img {
  width: 150px;
}
header a {
  padding: 0px 10px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 500px) {
  .box-header {
    justify-content: center;
    gap: 20px;
  }
}
