.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
header img {
  width: 200px;
}
header a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
