.box-produtos {
  text-align: center;
  padding: 80px 0px;
}
h2 {
  font-size: 42px;
  text-transform: uppercase;
}
.box-produtos p {
  font-size: 18px;
  color: #25333d;
}
.box-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 20px);
  background-color: #f6f6f6;
  height: 400px;
  margin-top: 20px;
  padding: 20px 0px;
}
.card img {
  max-height: 250px;
  width: 350px;
}
.card p {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.box-produtos ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #25333d;
  gap: 10px;
}

@media (max-width: 768px) {
  .card {
    width: 80%;
    padding: 20px 0px;
    margin: 0 auto;
  }
  .box-cards {
    gap: 20px;
  }
  .bg-produtos {
    padding: 40px 0px;
  }
}

@media (max-width: 500px) {
  .card img {
    width: 200px;
  }
  .card {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px;
  }
}
