body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h3 {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
}
h1 {
  font-size: 48px;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0px 20px;
  }
  h3 {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 28px;
  }
  h1 {
    font-size: 32px;
  }
}
